
  .img-normal {
    width: 100px !important;
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
    border: 1px solid transparent;
  }
  